@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 62.5%;
}
.coluna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #00ffe100;
  min-height: 100vh;
}
.blocos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: rgba(255, 255, 255, 0);
  border-radius: 29px 25px 25px 29px;
  box-shadow: 20px 20px 20px 20px #88888811;

}
.sesao-esquerda{
  height: 38rem;
 /* width: 33rem; */
  padding: 25px;
  border-radius: 0px 0px 35px 35px;

  background-color: rgb(255, 0, 0);
  /* For browsers that do not support gradients */
  background-image: linear-gradient(#7857FF, #2E2BE9)
}
.artigo-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  background-color: rgba(137, 43, 226, 0);
  height: 40rem;
  width: 28rem;
}
.sesao-esquedar-01 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  background-color: #ff00ff00;
  height: 26rem;
}
h1 {
  background-color: rgba(250, 235, 215, 0);
  font-size: 2.3rem;
}
.sesao-esquedar-02 {
  background-color: #ff005500;
  height: 19rem;
  width: 19.4rem;
}
.divisao-esquedar-circulo {
  height: 17rem;
  width: 17.4rem;
  border-radius: 50%;

  background-image: linear-gradient(#6235DE, #2421ca)
}
.esquedar-circulo-01 {
  background-color: rgba(255, 145, 0, 0);
  font-size: 7.4rem;
  font-weight: bold;
}
.esquedar-circulo-02 {
  background-color: #008cff00;
  color: rgba(214, 203, 203, 0.726);
  font-size: 1.6rem;
}
.artigo-esquerda>.artigo-esquerda-01 {
  background-color: #00ff1500;
  display: flex;
  gap: 21px;
}
h2 {
  background-color: #ffd00000;
  font-size: 2.6rem;
}
p {
  background-color: #008cff00;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  color: white;
}

/*outro lado */

.sesao-direita {
  background-color: rgba(228, 13, 13, 0);
  padding: 35px;
}
.sesao-direita-01 {
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: rgba(72, 255, 0, 0);
  height: 41.2rem;
  width: 34rem;
}

h3 {
  background-color: #252c4000;
  color: #303b59;
  font-size: 2.3rem;
}

.sesao-direita-blocos {
  background-color: #1124d400;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sesao-direita-bloco {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  font-size: 4rem;
  padding: 0.8rem;
  background-color: #aabd0000;
}
.sesao-direita-bloco-01 {
  background-color: #fff4f6;
}
.bloco-divisao-nome {
  background-color: #1124d400;
  text-align: right;
  position: relative;
  margin-left: 1rem;
}
img {
  position: relative;
  top: 0.2rem;
  width: 1.6rem;
  background-color: #00bd9100;
}
.nomes {
  font-weight: 500;
}
.divisao-numero {
  background-color: #00bd9100;
  width: 6.9rem;
}

.numero {
  font-weight: 700;
}

.reaction {
  background-color: #303b5900;
  color: #ff5757;
}

.sesao-direita-bloco-02 {
  background-color: #fffaf3;
}

.memory {
  color: #ffb01f;
}

.sesao-direita-bloco-03 {
  background-color: #f2fbfa;

}

.verbal {
  color: #00bd91;
}

.sesao-direita-bloco-04 {
  background-color: #f3f3fe;

}

.visual {
  color: #1125d4;
}

button {
  display: block;
  background-color: #252c40;
  border: none;
  color: white;
  height: 5.7rem;
  font-size: 1.5rem;
  border-radius: 50px;
}

button:hover {
  background-image: linear-gradient(#6235DE, #2421ca)
}
.botao{
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}